<!-- The title of the ion-view will be shown on the navbar -->
<ion-view view-title="Buttons" ng-controller="buttonsCtrl">
	<ion-content class="padding">
		<!-- The content of the page -->
		<h3>Buttons</h3>
		<p>
			<button class="button" ng-click="onTab()">
			  Default
			</button>
		</p>
		<p>
			<button class="button button-light" ng-click="onTab()">
			  button-light
			</button>
		</p>
		<p>
			<button class="button button-stable" ng-click="onTab()">
			  button-stable
			</button>
		</p>
		<p>
			<button class="button button-positive" ng-click="onTab()">
			  button-positive
			</button>
		</p>
		<p>
			<button class="button button-calm" ng-click="onTab()">
			  button-calm
			</button>
		</p>
		<p>
			<button class="button button-balanced" ng-click="onTab()">
			  button-balanced
			</button>
		</p>
		<p>
			<button class="button button-energized" ng-click="onTab()">
			  button-energized
			</button>
		</p>
		<p>
			<button class="button button-assertive" ng-click="onTab()">
			  button-assertive
			</button>
		</p>
		<p>
			<button class="button button-royal" ng-click="onTab()">
			  button-royal
			</button>
		</p>
		<p>
			<button class="button button-dark" ng-click="onTab()">
			  button-dark
			</button>
		</p>
	</ion-content>
</ion-view>